#widgetContainer{
  height:312px;
  width:100%;
  display:inline-flex;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#mult-graph-container{
  display: inline-flex;
}
.recommendationStaticContentOuter{
  scroll-snap-align: start;
  border: 0.5px solid #bcbdbd;
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block;
  text-align: left;
  /* padding-left: 20px; */
  /* padding-top: 10px; */
  /* height: 100%; */
  height: 280px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}
.recommendationContentOuter{
  /* overflow: scroll; */
  /* Prevents unneccesary x-scroll for specified facet */
  /* width:  100%; */
  /*height: 225px;*/
  display: flex;
  /* display: inline-block;*/
  margin-left: 10px;
  text-align: left;
}
.vega-embed {
  position: relative;
  display: inline-block;
  /* padding-right: 38px; */
  flex: 1 0 auto;
  padding-right: 10px !important;
}
/* .vega-embed:hover{
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
  cursor: pointer;
}   */
.vega-embed:checked{
  border: solid 1px;
  border-color: blue;
}
.recommendationContentInner{
  /*width: auto;
  max-width: 150%;*/
  /*display: inline-block;*/
  /*margin-left: 8px;*/
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  /* overflow-x: auto; */
  overflow-x: initial;
  padding-right: 50px;
  /*height: 280px;*/
  /* width: max-content;
  overflow-x: auto; */
  /* height: 100px; */
}

.toolDiv{
  position: relative;
  top: -20px;
  left: -5px;
}
.fa {
  color:gray;
}
.fa:hover{
  color:black;
}
.graph-container{
  height: 250px;
  max-height: 270px;
  margin: 10px 0px 5px 5px;
  padding: 0px 0px 0px 0px;
  overflow-y: auto;
}
#mainVizTitle{
  font-size: 20px;
  display: inline-block;
  left: 10%;
  top: 0px;
  position: absolute;
}
#mainVizContainer{
  padding: 10px 10px 0px 0px;
  /* position: absolute; */
  border: 0.5px solid #bcbdbd;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  min-width: 30%;
  height: 100%;
}

#mainVizInnerContainer{
  width: 300px;
  height: 245px;
  top: 21%;
  left: 3%;
  position: absolute;
}
#placeHolderVizContainer{
  min-height: 100%;
  min-width: 1px;
}
#tabBanner{
  width: auto;
  overflow: hidden;
  min-width: 70%;
}
#exportBtn{
  position: absolute;
  /* bottom: 90%; */
  /* left: 97%; */
  top: 0px;
  right: 0px;
  font-size: 20px;
  padding: 5px;
}
#alertBox{
  position: absolute;
  left: 33%;
  width: 65%;
  bottom: 6%;
  padding: 5px 30px 5px 10px;
}
/* canvas{
  width: 229px;
  height: 245px;
} */
/* Override .fade default to show tab*/
.fade {
  opacity:1;
}
/* Copied from bootstrap.css */
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
}

.nav-fill .nav-item {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}
/* Selectable Card React Component  CSS */
/* Card */
.card {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #fff;
  margin: 20px 10px;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* Selectable */
.card .selectable {
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 4px solid transparent;
}
.card .selectable .check {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 20px;
  height: 20px;
}
.card .selectable .check:before {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  content: '';
  border: 20px solid;
  border-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.card .selectable .check .checkmark {
  display: block;
  font: 20px sans-serif;
  line-height: 20px;
  text-align: center;
  color: transparent;
}
.card .selectable.selected {
  border-color: #4ad;
}
.card .selectable.selected .check:before {
  border-color: #4ad #4ad rgba(0, 0, 255, 0) rgba(255, 0, 0, 0);
}
.card .selectable.selected .check .checkmark {
  color: #fff;
}
.content {
  padding: 24px;
}
.content .title, .content .description {
  margin: 0;
  padding: 4px;
}
.column {
  float: left;
  width: 50%;
}
.column > .title {
  text-align: center;
}
button.card {
  display: block;
  cursor: pointer;
  width: 180px;
  margin: 20px auto;
  text-align: center;
  padding: 16px;
  border-color: transparent;
  border-radius: 10px;
  background: #4ad !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
}
button.card:focus {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
